*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: transparent !important;
    overflow:hidden;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Inputs invisíveis */
input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* PREVIEW */
#preview{
    position: relative;
    z-index: 3;
}

/* FUNDO ANIMADO */
#bgCanvas{
    position:fixed;
    inset:0;
    z-index:1;
    pointer-events:none;
}
