*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: transparent !important;
    overflow:hidden;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Inputs ocultos */
input {
    position:absolute;
    opacity:0;
    pointer-events:none;
}

/* Canvas de partículas */
#bgCanvas{
    position:fixed;
    inset:0;
    z-index:1;
    pointer-events:none;
}

/* Preview */
#preview{
    position:relative;
    z-index:5;
}

.shape-layer {
    width:100%;
    height:100%;
    border-style:solid;
    box-sizing:border-box;
}
