body {
    margin: 0;
    background: #0e0d12;
    color: white;
    display: flex;
    font-family: "Poppins", sans-serif;
}

/* Sidebar */
#sidebar {
    width: 300px;
    height: 100vh;
    padding: 25px;
    overflow-y: auto;
    background: rgba(255,255,255,0.04);
    border-right: 1px solid rgba(255,255,255,0.08);
    backdrop-filter: blur(12px);
}

.title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #aee7ff, #ffc0e6, #ffe4b3);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}

/* Inputs */
#sidebar input,
#sidebar select {
    width: 100%;
    padding: 10px;
    background: rgba(255,255,255,0.12);
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 6px;
}

#sidebar select option {
    background: #1e1d26;
    color: white;
}

/* Buttons */
.glow-btn {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    background: #aee7ff;
    font-weight: bold;
    cursor: pointer;
    color: #0e0d12;

    box-shadow:
        0 0 10px #aee7ff,
        0 0 20px #ffc0e6;
}

.preset-btn {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(90deg, #ffc0e6, #aee7ff);
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

/* Preview */
#preview-area {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#previewBar {
    border: solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    position: relative;
    background-size: 100% 100%, 400% 400%;
    animation: slide 10s linear infinite;
}

/* Effects */
.glow-neon {
    filter:
        drop-shadow(0 0 8px #aee7ff)
        drop-shadow(0 0 16px #ffc0e6)
        drop-shadow(0 0 24px #ffe4b3);
}

.emboss {
    box-shadow:
        inset 4px 4px 8px rgba(255,255,255,0.4),
        inset -4px -4px 8px rgba(0,0,0,0.2);
}

.shadow-animated {
    animation: shadowPulse 3s ease-in-out infinite;
}

@keyframes shadowPulse {
    0% { box-shadow:0 0 14px #aee7ff; }
    50% { box-shadow:0 0 26px #ffd9c7; }
    100% { box-shadow:0 0 14px #aee7ff; }
}

@keyframes slide {
    0% { background-position: 0% 50%; }
    100% { background-position: 400% 50%; }
}
/* ANIMAÇÃO DO GRADIENTE NA BORDA */
@keyframes borderFlow {
    0% { border-image-slice: 1; border-image-width: 1; }
    50% { border-image-slice: 1; border-image-width: 1; }
    100% { border-image-slice: 1; border-image-width: 1; }
}

.shape-layer {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    background: transparent !important; /* sem preenchimento */
